/*
* Base structure
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
}

/*
* Global add-ons
*/
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
	border: 0;
}

/*
* Main content
*/
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

/*
* Placeholder dashboard ideas
*/
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder {
	margin-bottom: 20px;
}
.placeholder img {
	display: inline-block;
	border-radius: 5%;
}
.placeholder img:hover {
	box-shadow: 0 0 1em gray;
}

.my-polls-header {
	margin-left: 0;
	margin-right: 0;
}
.my-polls-header-title {
	margin: 0;
}

#addNewPollButton {
	margin-bottom: 20px;
}

.poll-details{
	border-bottom: 1px solid #eee;
	padding-bottom: 15px;
	margin-bottom: 15px;
}
.question {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.question-text {
	margin-bottom: 5px;
}
.question-option {
	margin-top: -1px;
}

/*
* vertical align for bootstrap rows
*/
.vertical-align {
    display: flex;
    align-items: center;
}

/*
* profile page
*/
.profile-greeting {
	margin-bottom: 20px;
}
.profile-pic img {
	border-radius: 50%;
	margin-bottom: 5%;
}
.edit-profile-btn {
	margin-bottom: 5%;
}
