/*
* Base structure
*/
/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 50px;
	word-wrap: break-word;
}

/*
* Global add-ons
*/
.sub-header {
	padding-bottom: 10px;
	border-bottom: 1px solid #eee;
}

/*
* Top navigation
* Hide default border to remove 1px line.
*/
.navbar-fixed-top {
	border: 0;
}

/*
* Main content
*/
.main {
	padding: 20px;
}
@media (min-width: 768px) {
	.main {
		padding-right: 40px;
		padding-left: 40px;
	}
}
.main .page-header {
	margin-top: 0;
}

/*
* Placeholder dashboard
*/
.placeholders {
	margin-bottom: 30px;
	text-align: center;
}
.placeholders h4 {
	margin-bottom: 0;
}
.placeholder-container:hover #my-poll-delete-btn {
	display: flex;
}

.placeholder {
	margin-bottom: 20px;
}
.placeholder-container {
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;

	display: inline-block;
	position: relative;

	/*border: solid red 1px;*/
}

.placeholder-containter-img {
	border-radius: 10px;
}
.placeholder-containter-img:hover {
	box-shadow: 0 0 1em gray;
}

#my-poll-delete-btn {
	display: none;
	text-decoration: none;
	position: absolute;
	top: 10px;
	right: 10px;
}
#my-poll-delete-btn:hover {
	color: red;
}

#deletePollConfirmationModal form {
	line-height: initial;
	text-align: initial;
}
#deletePollConfirmationModal form p {
	margin: 0;
}

.resize-to-fit-and-center {
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
}

#viewPollModalCategory {
	margin-bottom: 0;
}
#viewPollModalPrivacy {
	margin-top: 7px;
	margin-bottom: 0;
}
#viewPollModalPrivacy label {
	margin-bottom: 0;
}
#share-url-div {
	margin-bottom: 15px;
}
#share-url-field {
	cursor: auto;
}
#show-poll-results-button {
	margin-bottom: 15px;
}
#view-poll-buttons input,
#view-poll-buttons button {
	width: 100%;
}
#view-poll-cancel-button {
	padding-right: 7px;
}
#view-poll-save-button {
	padding-left: 7px;
}

.my-polls-header {
	margin-left: 0;
	margin-right: 0;
}
.my-polls-header-title {
	margin: 0;
}

#addNewPollButton {
	margin-bottom: 20px;
}
.add-poll-modal-dropdown {
	margin-bottom: 15px;
}
.add-poll-modal-checkbox {
	margin-top: 5px;
	margin-bottom: 17px;
}
#poll-pic-selection {
	margin-top: 0;
	margin-bottom: 15px;
}

.poll-details{
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
.question {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
	margin-bottom: 15px;
}
.question-text {
	margin-bottom: 15px;
}
.question-option {
	margin-top: -1px;
}
#poll-question {
	border-bottom: 1px solid #eee;
	margin-bottom: 15px;
}
#poll-question:last-child {
	border-bottom: none;
	margin-bottom: 0;
}

#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

/*
* profile page
*/
.profile-greeting {
	margin-bottom: 20px;
}
.profile-pic img {
	border-radius: 50%;
	margin-bottom: 5%;
}
.profile-pic img:hover {
	box-shadow: 0 0 1em gray;
}
.edit-profile-btn {
	margin-bottom: 5%;
}

.fileinput-button {
	position: relative;
	overflow: hidden;
}
.fileinput-button input {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}
/* Fixes for IE < 8 */
@media screen\9 {
	.fileinput-button input {
		filter: alpha(opacity=0);
		font-size: 100%;
		height: 100%;
	}
}
#fileinput-button-subtitle {
	margin: 0;
	padding: 5px 0 0 5px;
}
.files {
	margin-top: 7px;
}
.files p {
	margin: 0;
}
#seeResultsBtn {
	float: left;
}
